.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #ffffff;
    font-size: 16px;
    box-shadow: 0 0 5px -3px black;
    height: 56px;

    z-index: 100;
}

/*Left container*/
.left-row{
    flex: 1;
}
.left-row-item {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.fb-logo {
    width: 45px;
    height: 45px;
    padding-left: 12px;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    border-radius: 50px;
    padding-right: 15px;
    height: 41px;
}
.search-bar-input{
    border: none;
    font-size: 15px;
    padding: 7px 8px 9px 7px;
    font-weight: 400;
    background-color: rgb(241, 241, 241);
    width: 150px;
    outline: none;
}
.search-icon {
    fill: rgb(116, 116, 116);
    padding: 7px 8px 9px 7px;
}

/*Middle container*/
.middle-row {
    width: 1000px;
}
.middle-row-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26.5px;
}
.middle-row-item div{
    width: 111.6px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.current-page-selection:hover,
.video-page-selection:hover,
.marketplace-page-selection:hover,
.groups-page-selection:hover,
.entertainment-page-selection:hover {
    background-color: rgba(238, 238, 238, 0.671);
}
.middle-row-item svg {
    fill: rgb(116, 116, 116);
}
.middle-row-item .home-icon {
    fill: #0064d1;
}
.current-page-selection {
    box-sizing: border-box;
    border-bottom: 3px solid #0064d1;
}
/*Middle and Right Header Container Tooltips */
.current-page-selection,
.video-page-selection,
.marketplace-page-selection,
.groups-page-selection,
.entertainment-page-selection,
.right-row-item .btn {
    position: relative;
}
.current-page-selection .header-tooltip,
.video-page-selection .header-tooltip,
.marketplace-page-selection .header-tooltip,
.groups-page-selection .header-tooltip,
.entertainment-page-selection .header-tooltip,
.right-row-item .header-tooltip{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: -38px;
    z-index: 100;

    height: 33px;
    width: max-content;
    padding: 2px 12px 1px 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0.753);
    border: none;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.438);
    font-size: 12px;
    border-radius: 13px;
    white-space: nowrap;

    opacity: 0;
    pointer-events: none;
    transition: opacity ease 0.08s;
}
.current-page-selection:hover .header-tooltip,
.video-page-selection:hover .header-tooltip,
.marketplace-page-selection:hover .header-tooltip,
.groups-page-selection:hover .header-tooltip,
.entertainment-page-selection:hover .header-tooltip,
.menu-btn:hover .header-tooltip,
.msg-btn:hover .header-tooltip,
.notif-btn:hover .header-tooltip,
.profile-btn:hover .header-tooltip {
    opacity: 1;
}

/*Right container*/
.right-row {
    flex: 1;
}
.right-row-item {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8.5px;
    padding-right: 11px;
}
.right-row-item svg {
    height: 20px;
    width: 20px;
}
.right-row-item .menu-btn,
.right-row-item .msg-btn,
.right-row-item .notif-btn,
.right-row-item .profile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 10px 10px;
}

/*To-Do:
1. Hover pseudo class
2. sidebars
3. main content (home page)
*/