.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    font-size: 16px;
    box-shadow: 0 0 5px -3px black;
    height: 56px;
}

/*Left container*/
.left-row{
    flex: 1;
}
.left-row-item {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.fb-logo {
    width: 45px;
    height: 45px;
    padding-left: 12px;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    border-radius: 50px;
    padding-right: 15px;
    height: 41px;
}
.search-bar-input{
    border: none;
    font-size: 15px;
    padding: 7px 8px 9px 7px;
    font-weight: 400;
    background-color: rgb(241, 241, 241);
    width: 150px;
    outline: none;
}
.search-icon {
    fill: rgb(116, 116, 116);
    padding: 7px 8px 9px 7px;
}

/*Middle container*/
.middle-row {
    width: 1000px;
}
.middle-row-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26.5px;
}
.middle-row-item div{
    width: 111.6px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.current-page-selection:hover,
.video-page-selection:hover,
.marketplace-page-selection:hover,
.groups-page-selection:hover,
.entertainment-page-selection:hover {
    background-color: rgba(238, 238, 238, 0.671);
}
.middle-row-item svg {
    fill: rgb(116, 116, 116);
}
.middle-row-item .home-icon {
    fill: #0064d1;
}
.current-page-selection {
    box-sizing: border-box;
    border-bottom: 3px solid #0064d1;
}

/*Right container*/
.right-row {
    flex: 1;
}
.right-row-item {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8.5px;
    padding-right: 11px;
}
.right-row-item svg {
    height: 20px;
    width: 20px;
}
.right-row-item .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 10px 10px;
}

/*To-Do:
1. Hover pseudo class
2. sidebars
3. main content (home page)
*/