.left-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    
    background-color: #f2f4f7;
    padding-top: 20px;

    width: 320px;
}

.container {
    display: flex;
    text-align: center;
    align-items: center;

    margin-left: 9px;
    padding-left: 8px;
    padding-top: 9px;
    padding-bottom: 9px;

    height: 100%;
    width: 100%;
}

.container:hover {
    background-color: #ececec;
    border-radius: 10px;
}

.left-sidebar .logo {
    height: 36px;
    width: 36px;
    margin-right: 10px;
}

.left-sidebar .profile {
    height: 36px;
    width: 36px;
    margin-right: 10px;
    border-radius: 50%;
}
.left-sidebar p {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    margin-top: 4px;
}